/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', 'Noto Sans', sans-serif;
  background-color: #141118;
  color: #e4e4e4;
}

a {
  text-decoration: none;
  color: inherit;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #222;
}

.header-title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.header-title svg {
  margin-right: 10px;
}

.layout-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intro-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.input-file,
.input-select,
.btn-obfuscate,
.btn-download,
.btn-copy {
  font-size: 14px;
  padding: 12px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.input-file {
  margin-bottom: 15px;
}

.input-select {
  margin-bottom: 20px;
}

.input-file,
.input-select {
  cursor: pointer;
}

.input-file::file-selector-button {
  background-color: #1c1c1c;
}

.btn-obfuscate {
  background-color: #6200ea;
  margin-top: 20px;
}

.btn-obfuscate:hover {
  background-color: #3700b3;
}

.output-section {
  display: none;
  margin-top: 20px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.output-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.output-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.output-table th,
.output-table td {
  padding: 10px;
  border: 1px solid #444;
  text-align: left;
}

.output-table th {
  background-color: #444;
  color: #fff;
}

.output-buttons {
  display: flex;
  justify-content: space-around;
}

.btn-download,
.btn-copy {
  background-color: #6200ea;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  color: #fff;
}

.btn-download:hover,
.btn-copy:hover {
  background-color: #3700b3;
}

/* Footer Styles */
.footer {
  background-color: #222;
  color: #888;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Dark Mode Enhancements */
body.dark-mode {
  background-color: #141118;
}

.dark-mode .header-container {
  background-color: #222;
}

.dark-mode .output-section {
  background-color: #2a2a2a;
}

.dark-mode .btn-obfuscate,
.dark-mode .btn-download,
.dark-mode .btn-copy {
  background-color: #6200ea;
}

.dark-mode .btn-obfuscate:hover,
.dark-mode .btn-download:hover,
.dark-mode .btn-copy:hover {
  background-color: #3700b3;
}
